.ReactCMChessboard div {
  background-image: url(https://lichess1.org/assets/_0tHtbz/images/board/blue-marble.jpg);
  background-size: cover;
}

.cm-chessboard.default .board {
  fill-opacity: 0.1;
}
